<%- include('header') -%>

    <!-- Form to create a new QCM -->
    <form action="/qcms/new" method="POST">
        <div>
            <label for="name">Nom</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="subject">Sujet</label>
            <input type="text" id="subject" name="subject" required>
        </div>
        <div>
            <label for="nbpoints">Nb points</label>
            <input type="number" id="nbpoints" name="nbpoints" required>
        </div>
        <label for="questionText">Question Text:</label>
        <input type="text" id="questionText" name="questionText" required>
        
        <label for="option1">Option 1:</label>
        <input type="text" id="option1" name="option1" required>
        
        <label for="option2">Option 2:</label>
        <input type="text" id="option2" name="option2" required>
        
        <label for="correctOption">Correct Option:</label>
        <input type="number" id="correctOption" name="correctOption" required>
        <input type="submit" value="Create">
    </form>

    <a href="/qcms">View QCMs</a>

    <%- include('footer') -%>